/* Global stylings */
body {
    background-color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
}
p {
    margin-bottom: 0;
}

a {
    color: #d3307a;
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

/* Header, footer, and navbar */
.float-head {
    position: fixed;
    width: 90%;
    min-width: 250px;
    height: 12vh;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171823;
    height: inherit;
}
.header-title {
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    max-width: 98vw;
    font-size: 2.3vh;
    font-weight: 700;
}
.header a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.3vh;
    height: 100%;
    width: 100%;
}
.header a:hover {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #171823;
    text-align: center;
    color: #fff;
    padding: 15px;
}

.lighter-link a {
    color: #1985a1;
    text-decoration: none;
}
.lighter-link a:hover {
    color: #ffb742;
    text-decoration: underline;
    transition: 0.3s;
}

/* Main content stylings */
.center {
    width: 90%;
    min-width: 250px;
    margin: auto;
}

.card {
    background-color: #fff;
    padding: 15px;
    margin: 0px;
    height: inherit;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.5);
}
.card-title {
    color: #000;
    font-size: 30px;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.schedule {
    width: 60%;
    margin: auto;
    background-color: #ECEDEE;
}

table {
    padding: 10px;
}
table td {
    padding-left: 10px;
}

.person {
    clear: left;
    border-color: #8361a2;
    border-style: solid;
    border-width: 2px;
    border-bottom-style: none;
    height: inherit;
    overflow: hidden;
    margin: 0 10px;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.person:last-child {
    border-bottom-style: solid;
    margin-bottom: 10px;
}
.team-image {
    float: left;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}

.link-list ul {
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}


/* Responsive stylings */
.buffer {
    /* Heights to accomodate header and anchor spacing for mobile devices */
    height: 12vh;
}
#presenters {
    position: relative;
    float: left;
    visibility: hidden;
    top: -16.8vh;
}

.cogsci {
    float:left;
    width: 30vw;
    min-width: 250px;
    margin: 10px;
}

@media only screen and (orientation: portrait) {
    .cogsci {
        float: none;
        display: relative;
        width: 98%;
        min-width: 250px;
        margin: 9vh 10px 10px 10px;
    }
    body {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card, .session {
        padding: 30px;
    }
    .schedule {
        text-align: left;
        width: 100%;
        font-size: 2.3em;
        margin: auto;
        background-color: #ECEDEE;
    }
    /* Updates layout for each person in Team when smaller width*/
    .person {
        text-align: center;
    }
    .team-image {
        float: none;
        width: 80%;
        margin: 0;
    }
}
